@import "tailwindcss";

/* Root theme variables */
:root {
  --background: #0b1f1a;
  --foreground: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Folded corner effect */
.clip-path-folded-corner {
  clip-path: polygon(0 0, 100% 0, 100% 25%, 25% 100%, 0 100%);
}
